@font-face {
  font-family: "Custom";
  src: url('../font_hack/Hack-Regular.ttf');
}

@font-face {
  font-family: "Custom";
  src: url('../font_hack/Hack-Bold.ttf');
  font-weight: bold;
}

.Content-outer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: min(75px, 10vh);
}

.Content-inner {
  width: 90vw;
  max-width: 600px;
}

.doors {
  background-image: url('./images/door.svg');
  background-repeat: no-repeat;
  width: 350px;
  height: 270px;
}

.doors:hover {
  background-image: url('./images/door_open.svg');
}



a {
  color: black;
}

a:hover {
  color: #ff243a;
}